*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --bg-color: #152131;
    --bg-sec-color: #0d1827;
    --main-color: #EBEDEF;
    --sec-color: #79818B;
    --titel-hover: #FCD26F;
}

body{
    background-color: var(--bg-color);
    color: var(--main-color);
    font-family: cofo-gothic-variable, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Loading Animation */
.loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 2;
    overflow: hidden;
}

.loader marquee {
    opacity: 0.2;
    text-transform: uppercase;
    line-height: 180px;
    margin: 0;
    padding: 0;
    color: var(--sec-color);
    font-size: 200px;
    font-family: "olimpico", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.loader .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loader .intro h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--titel-hover);
    font-family: "olimpico", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.intro-title .letter {
    display: inline-block;
    line-height: 1em;
}

/* SVG Line */
.line-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

svg{
    display: inline-block;
    height: 100%;
}

/* Header */

header {
    padding: 2em 5em;
    position: fixed;
    min-width: 100%;
    backdrop-filter: blur(5px);
    z-index: 3;
}

.nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-mobile {
    display: none;
}

.logo {
    width: 120px;
}

header ul {
    display: flex;
    gap: 2em;
}

header ul a {
    color: var(--titel-hover);
    font-family: olimpico, sans-serif;
    font-size: 1.2rem;
}

input#burger-menu {
    display: none;
}

.burger-menu {
    width: 3em;
    height: 2em;
    position: relative;
    cursor: pointer;
    z-index: 3;
}

.burger-menu span { 
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 150ms ease-in-out;
 }

 .burger-menu span:nth-child(1) {
    top: 30%;
    background-color: var(--titel-hover);
 }
 
 .burger-menu span:nth-child(2) {
    top: 70%;
    background-color: var(--titel-hover);
 }
 
 input#burger-menu:checked + .burger-menu span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

input#burger-menu:checked + .burger-menu span:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: right;
    min-height: 100vh;
    width: 20%;
    background-color: var(--bg-color);
    transition: transform 150ms ease-in-out;
    display: flex;
    align-items: center;
    box-shadow: -9px 2px 100px 0px rgba(0,0,0,0.7);
}
.nav-desktop:has(input:checked) .sidebar {
    transform: scale(1, 1);
}

.sidebar-container {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.sidebar-container > p {
    color: var(--sec-color);
    font-size: 2rem;
    font-family: olimpico, sans-serif;
    text-align: center;
    line-height: 1;
}

.sidebar-container div p:first-child {
    color: var(--titel-hover);
    font-family: olimpico, sans-serif;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-size: 1.25rem;
}

.sidebar-container div p:nth-child(n+2) {
    font-family: cofo-gothic-variable, sans-serif;
    font-size: 1rem;
}

.social {
    display: flex;
    align-items: center;
    gap: 1em;
}

.social p {
    margin-bottom: 0 !important;
}

.social img {
    width: 30px;
}

/* Hero */

.hero {
    background-image: url(../img/Kopfzeile\ Hintergrund\ Historische\ Bibliothek\ .jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5em;
}

h1 {
    color: var(--titel-hover);
    font-family: olimpico, sans-serif;
    font-size: 4.5rem;
}

/* About */

.about {
    padding: 5em;
}

h2 {
    color: var(--titel-hover);
    font-family: olimpico, sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
}

.introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    flex-wrap: wrap;
    margin-block: 10em;
}

.introduction img {
    max-width: 400px;
    transition: border 50ms ease-in-out;
}

.introduction img:hover {
    border: 3px solid var(--titel-hover);
}

.introduction p {
    max-width: 75ch;
    line-height: 1.5;
}

.introduction p::first-letter {
    initial-letter: 3;
    margin-right: 1em;
    font-family: olimpico, sans-serif;
    color: var(--titel-hover);
}

.clients {
    display: flex;
    flex-direction: column;
    gap: 5em;
    overflow-x: clip;
}

h3 {
    font-size: 3rem;
    line-height: 1.25;
    font-weight: normal;
}

.slider-track {
    position: relative;
}

.slider {
    display: flex;
    gap: 7em;
    animation: slide 40s linear infinite;
}

.slider-track::before, .slider-track::after {
    content: "";
    width: 200px;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(21,33,49,1) 100%);
}

.slider-track::before {
    left: -1px;
    top: 0;
    rotate: 180deg;
}

.slider-track::after {
    right: -1px;
    top: 0;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Expertise */
.expertise {
    padding: 5em;
}

.expertise-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10em;
    margin-block: 10em;
}

.expertise-content img {
    max-width: 50%;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 5em 10em;
    max-width: 100%;
}

.services div {
    background-color: var(--bg-sec-color);
    padding: 4em;
}

.services div p:first-child {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 1em;
}

.services div p:nth-child(2) {
    max-width: 50ch;
    line-height: 1.5;
}

.statistics {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.statistics h2 {
    text-align: center;
    font-weight: normal;
}

.statistics p {
    text-transform: uppercase;
    text-align: center;
}

/* Contact */

.contact {
    padding: 5em;
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 5em;
    margin-block: 10em;
}

.contact-content > img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: border 50ms ease-in-out;
}
.contact-content > img:hover {
    border: 3px solid var(--titel-hover);
}

.contact-details {
    display: flex;
    justify-content: space-evenly;
}

.contact-details p:first-child {
    font-size: 1.75rem;
    margin-bottom: 1em;
}

.contact-details p:nth-child(n+2) {
    line-height: 1.5;
}

.call-us {
    padding: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    background-image: url(../img/bg-map.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10em;
}

.call-us a {
    color: var(--main-color);
    font-size: 1rem;
    text-decoration: underline;
}