*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --bg-color: #152131;
    --main-color: #EBEDEF;
    --sec-color: #79818B;
    --titel-hover: #FCD26F;
}

body{
    background-color: var(--bg-color);
    color: var(--main-color);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Loading Animation */
.loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 2;
    overflow: hidden;
}

.loader marquee {
    opacity: 0.2;
    text-transform: uppercase;
    line-height: 180px;
    margin: 0;
    padding: 0;
    color: var(--sec-color);
    font-size: 200px;
    font-family: "olimpico", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.loader .intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loader .intro h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--titel-hover);
    font-family: "olimpico", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.intro-title .letter {
    display: inline-block;
    line-height: 1em;
}

/* SVG Line */
.line-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

svg{
    display: inline-block;
    height: 100%;
}

/* Header */

header {
    padding: 2em 5em;
    position: fixed;
    min-width: 100%;
    backdrop-filter: blur(5px);
}

.nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-mobile {
    display: none;
}

.logo {
    width: 120px;
}

header ul {
    display: flex;
    gap: 2em;
}

header ul a {
    color: var(--titel-hover);
    font-family: olimpico, sans-serif;
    font-size: 1.2rem;
}

input#burger-menu {
    display: none;
}

.burger-menu {
    width: 3em;
    height: 2em;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.burger-menu span { 
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 150ms ease-in-out;
 }

 .burger-menu span:nth-child(1) {
    top: 30%;
    background-color: var(--titel-hover);
 }
 
 .burger-menu span:nth-child(2) {
    top: 70%;
    background-color: var(--titel-hover);
 }
 
 input#burger-menu:checked + .burger-menu span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

input#burger-menu:checked + .burger-menu span:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: right;
    min-height: 100vh;
    width: 20%;
    background-color: var(--bg-color);
    transition: transform 150ms ease-in-out;
    display: flex;
    flex-direction: column;;
    align-items: center;
    justify-content: center;
    gap: 3em;
}
.nav-desktop:has(input:checked) .sidebar {
    transform: scale(1, 1);
}

.sidebar > p {
    color: var(--sec-color);
    font-size: 1.5rem;
    font-family: olimpico, sans-serif;
    text-align: center;
    line-height: 1;
}

.address p:first-child {
    color: var(--titel-hover);
    font-family: olimpico, sans-serif;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}


/* Hero */

.hero {
    background-image: url(../img/Kopfzeile\ Hintergrund\ Historische\ Bibliothek\ .jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 5em;
}

h1 {
    color: var(--titel-hover);
    font-family: olimpico, sans-serif;
    font-size: 4.5rem;
}